# Q1

In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

In [2]:
driver = webdriver.Chrome("C:/Users/swana/Desktop/chromedriver.exe")

In [4]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [13]:
fname=[]
fupload=[]
fviews=[]
fdate=[]

In [14]:
name_1=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")
upload_1=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")
views_1=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")
date_1=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")

for i in name_1:
    fname.append(i.text)
for i in upload_1:
    fupload=.append(i.text)
for i in views_1:
    fviews.append(i.text)
for i in date_1:
    fdate.append(i.text)

In [28]:
frank=list(range(1,31))

In [29]:
print(len(fname),len(fupload),len(fviews),len(fdate),len(frank))

30 30 30 30 30

In [68]:
table=pd.DataFrame({})
table['Rank']=frank[:]
table['Video Name']=fname[:]
table['Uploader']=fupload[:]
table['Views(billions)']=fviews[:]
table['Upload Date']=fdate[:]
table

,Rank,Video Name,Uploader,Views(billions),Upload Date
0,1,Baby Shark Dance,Pinkfong Kids' Songs & Stories,8.04,"June 17, 2016"
1,2,Despacito,Luis Fonsi,7.23,"January 12, 2017"
2,3,Shape of You,Ed Sheeran,5.20,"January 30, 2017"
3,4,See You Again,Wiz Khalifa,4.99,"April 6, 2015"
4,5,Johny Johny Yes Papa,LooLoo Kids,4.87,"October 8, 2016"
5,6,Masha and the Bear – Recipe for Disaster,Get Movies,4.41,"January 31, 2012"
6,7,Uptown Funk,Mark Ronson,4.10,"November 19, 2014"
7,8,Gangnam Style,Psy,3.99,"July 15, 2012"
8,9,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,3.72,"February 27, 2018"
9,10,Bath Song,Cocomelon – Nursery Rhymes,3.71,"May 2, 2018"
10,11,Phonics Song with Two Words,ChuChu TV,3.59,"March 6, 2014"
11,12,Sorry,Justin Bieber,3.41,"October 22, 2015"
12,13,Sugar,Maroon 5,3.40,"January 14, 2015"
13,14,Roar,Katy Perry,3.29,"September 5, 2013"
14,15,Counting Stars,OneRepublic,3.21,"May 31, 2013"
15,16,Thinking Out Loud,Ed Sheeran,3.20,"October 7, 2014"
16,17,Dame Tu Cosita,El Chombo,3.14,"April 5, 2018"
17,18,Shake It Off,Taylor Swift,3.02,"August 18, 2014"
18,19,Faded,Alan Walker,3.00,"December 3, 2015"
19,20,Lean On,Major Lazer Official,2.98,"March 22, 2015"
20,21,Dark Horse,Katy Perry,2.98,"February 20, 2014"
21,22,Bailando,Enrique Iglesias,2.98,"April 11, 2014"
22,23,Girls Like You,Maroon 5,2.97,"May 31, 2018"
23,24,Let Her Go,Passenger,2.92,"July 25, 2012"
24,25,Mi Gente,J Balvin,2.87,"June 29, 2017"
25,26,Hello,Adele,2.79,"October 22, 2015"
26,27,Perfect,Ed Sheeran,2.76,"November 9, 2017"
27,28,Waka Waka (This Time for Africa),Shakira,2.75,"June 4, 2010"
28,29,Blank Space,Taylor Swift,2.73,"November 10, 2014"
29,30,Chantaje,Shakira,2.63,"November 18, 2016"

# Q2

In [69]:
driver.get('https://www.bcci.tv/')

In [71]:
nxt=driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']/li[1]/div[2]/div/ul/li[1]")
nxt.click()

In [92]:
date_1=driver.find_elements_by_xpath("//span[@class='fixture__date']")
month_1=driver.find_elements_by_xpath("//span[@class='fixture__month']")
time_1=driver.find_elements_by_xpath("//span[@class='fixture__time']")

In [93]:
date=[]
month=[]
time=[]

for i in date_1:
    date.append(i.text)
for i in month_1:
    month.append(i.text)
for i in time_1:
    time.append(i.text)

In [94]:
print(date,month,time)

['04', '12', '14', '16', '18', '20', '23', '26', '28', '04', '12', '25', '02', '10'] ['MARCH', 'MARCH', 'MARCH', 'MARCH', 'MARCH', 'MARCH', 'MARCH', 'MARCH', 'MARCH', 'AUGUST', 'AUGUST', 'AUGUST', 'SEPTEMBER', 'SEPTEMBER'] ['09:30 IST', '19:00 IST', '19:00 IST', '19:00 IST', '19:00 IST', '19:00 IST', '13:30 IST', '13:30 IST', '13:30 IST', '15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST']

In [99]:
series_1=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
title_1=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
place_1=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")

In [100]:
series=[]
title=[]
place=[]

for i in series_1:
    series.append(i.text)
for i in title_1:
    title.append(i.text)
for i in place_1:
    place.append(i.text)

In [101]:
print(series,title,place)

['INDIA V ENGLAND 2021', 'INDIA V ENGLAND 2021', 'INDIA V ENGLAND 2021', 'INDIA V ENGLAND 2021', 'INDIA V ENGLAND 2021', 'INDIA V ENGLAND 2021', 'INDIA V ENGLAND 2021', 'INDIA V ENGLAND 2021', 'INDIA V ENGLAND 2021', 'ENGLAND V INDIA 2021', 'ENGLAND V INDIA 2021', 'ENGLAND V INDIA 2021', 'ENGLAND V INDIA 2021', 'ENGLAND V INDIA 2021'] ['4th Test', '1st T20I', '2nd T20I', '3rd T20I', '4th T20I', '5th T20I', '1st ODI', '2nd ODI', '3rd ODI', '1st Test', '2nd Test', '3rd Test', '4th Test', '5th Test'] ['Narendra Modi Stadium, Ahmedabad', 'Narendra Modi Stadium, Ahmedabad', 'Narendra Modi Stadium, Ahmedabad', 'Narendra Modi Stadium, Ahmedabad', 'Narendra Modi Stadium, Ahmedabad', 'Narendra Modi Stadium, Ahmedabad', 'Maharashtra Cricket Association Stadium, Pune', 'Maharashtra Cricket Association Stadium, Pune', 'Maharashtra Cricket Association Stadium, Pune', 'Trent Bridge, Nottingham', "Lord's, London", 'Headingley, Leeds', 'The Oval, London', 'Old Trafford, Manchester']

In [102]:
print(len(date),len(month),len(time),len(series),len(title),len(place))

14 14 14 14 14 14

In [103]:
table=pd.DataFrame({})
table['Match Title']=title[:]
table['Series']=series[:]
table['Place']=place[:]
table['Date)']=date[:]
table['Month']=month[:]
table['Time']=time[:]
table

,Match Title,Series,Place,Date),Month,Time
0,4th Test,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",04,MARCH,09:30 IST
1,1st T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",12,MARCH,19:00 IST
2,2nd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",14,MARCH,19:00 IST
3,3rd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",16,MARCH,19:00 IST
4,4th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",18,MARCH,19:00 IST
5,5th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",20,MARCH,19:00 IST
6,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",23,MARCH,13:30 IST
7,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",26,MARCH,13:30 IST
8,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",28,MARCH,13:30 IST
9,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04,AUGUST,15:30 IST
10,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12,AUGUST,15:30 IST
11,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25,AUGUST,15:30 IST
12,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02,SEPTEMBER,15:30 IST
13,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10,SEPTEMBER,15:30 IST

# Q3

In [104]:
driver.get('https://www.guru99.com/')

In [105]:
nxt=driver.find_element_by_xpath("//div[@class='row featured-boxes']/div[1]/div/ul/li[3]/a")
nxt.click()

In [106]:
nxt_1=driver.find_element_by_xpath("//div[@class='item-page']/div[2]/table[5]/tbody/tr[34]/td[1]")
nxt_1.click()

In [124]:
data_1=driver.find_elements_by_xpath("//div[@class='item-page']/div[2]/table/tbody/tr/td")

In [131]:
name=[]
descrip=[]
n=1

for i in data_1:
    if n%2==1:
        name.append(i.text)
    if n%2==0:
        descrip.append(i.text)
    n=n+1

In [134]:
print(len(name),len(descrip))

41 41

In [135]:
table=pd.DataFrame({})
table['Exception Name']=name[:]
table['Description']=descrip[:]
table

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# Q4

In [141]:
driver.get('http://statisticstimes.com/')

In [161]:
nxt=driver.find_elements_by_xpath("//div[@class='navbar']/div[2]/div/a[3]")

for i in nxt:
    a=i.get_attribute("href")
    print(a)

http://statisticstimes.com/economy/india-statistics.php

In [162]:
driver.get(a)

In [163]:
nxt=driver.find_element_by_xpath("//body/div[2]/div[2]/div[2]/ul/li[1]/a")
nxt.click()

In [167]:
data_1=driver.find_elements_by_xpath("//div[@id='main']/div[5]/div[1]/div/table/tbody/tr/td")

In [169]:
rank=[]
state=[]
gsdp19=[]
gsdp18=[]
share18=[]
gdp=[]
ogsdp19=[]
ogsdp18=[]
n=1

for i in data_1:
    if n%8==1:
        rank.append(i.text)
    if n%8==2:
        state.append(i.text)
    if n%8==3:
        gsdp19.append(i.text)
    if n%8==4:
        gsdp18.append(i.text)
    if n%8==5:
        share18.append(i.text)
    if n%8==6:
        gdp.append(i.text)
    if n%8==7:
        ogsdp19.append(i.text)
    if n%8==0:
        ogsdp18.append(i.text)
    n=n+1

In [173]:
print(len(rank),len(state),len(gsdp19),len(gsdp18),len(share18),len(gdp),len(ogsdp19),len(ogsdp18))

33 33 33 33 33 33 33 33

In [174]:
table=pd.DataFrame({})
table['Rank']=rank[:]
table['State']=state[:]
table['GSDP 19-20(Cr INR at current prices)']=gsdp19[:]
table['GSDP 18-19(Cr INR at current prices)']=gsdp18[:]
table['Share(18-19)']=share18[:]
table['GDP($ billion)']=gdp[:]
table['GSDP 19-20(Cr INR at 2011-12 prices)']=ogsdp19[:]
table['GSDP 18-19(Cr INR at 2011-12 prices']=ogsdp18[:]
table

,Rank,State,GSDP 19-20(Cr INR at current prices),GSDP 18-19(Cr INR at current prices),Share(18-19),GDP($ billion),GSDP 19-20(Cr INR at 2011-12 prices),GSDP 18-19(Cr INR at 2011-12 prices
0,1,Maharashtra,-,"2,632,792",13.88%,398.145,-,"2,039,074"
1,2,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529,"1,312,929","1,215,307"
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.35%,239.656,"1,166,817","1,123,982"
3,4,Gujarat,-,"1,502,899",7.92%,227.276,-,"1,186,379"
4,5,Karnataka,"1,631,977","1,493,127",7.87%,225.798,"1,156,039","1,091,077"
5,6,West Bengal,"1,253,832","1,089,898",5.75%,164.820,"793,223","739,525"
6,7,Rajasthan,"1,020,989","942,586",4.97%,142.543,"711,627","677,428"
7,8,Andhra Pradesh,"972,782","862,957",4.55%,130.501,"672,018","621,301"
8,9,Telangana,"969,604","861,031",4.54%,130.210,"663,258","612,828"
9,10,Madhya Pradesh,"906,672","809,592",4.27%,122.431,"561,801","522,009"
10,11,Kerala,-,"781,653",4.12%,118.206,-,"559,412"
11,12,Delhi,"856,112","774,870",4.08%,117.180,"634,408","590,569"
12,13,Haryana,"831,610","734,163",3.87%,111.024,"572,240","531,085"
13,14,Bihar,"611,804","530,363",2.80%,80.204,"414,977","375,651"
14,15,Punjab,"574,760","526,376",2.77%,79.601,"418,868","397,669"
15,16,Odisha,"521,275","487,805",2.57%,73.768,"396,499","376,877"
16,17,Assam,-,"315,881",1.67%,47.769,-,"234,048"
17,18,Chhattisgarh,"329,180","304,063",1.60%,45.982,"243,477","231,182"
18,19,Jharkhand,"328,598","297,204",1.57%,44.945,"240,036","224,986"
19,20,Uttarakhand,-,"245,895",1.30%,37.186,-,"193,273"
20,21,Jammu & Kashmir,-,"155,956",0.82%,23.584,-,"112,755"
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.265,"124,403","117,851"
22,23,Goa,"80,449","73,170",0.39%,11.065,"63,408","57,787"
23,24,Tripura,"55,984","49,845",0.26%,7.538,"40,583","36,963"
24,25,Chandigarh,-,"42,114",0.22%,6.369,-,"31,192"
25,26,Puducherry,"38,253","34,433",0.18%,5.207,"25,093","23,013"
26,27,Meghalaya,"36,572","33,481",0.18%,5.063,"26,695","24,682"
27,28,Sikkim,"32,496","28,723",0.15%,4.344,"20,017","18,722"
28,29,Manipur,"31,790","27,870",0.15%,4.215,"20,673","19,300"
29,30,Nagaland,-,"27,283",0.14%,4.126,-,"17,647"
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.721,-,"16,676"
31,32,Mizoram,"26,503","22,287",0.12%,3.370,"18,797","16,478"
32,33,Andaman & Nicobar Islands,-,-,-,-,-,-

# Q5

In [341]:
driver.get('https://github.com/')

In [342]:
nxt=driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]")
nxt.click()

In [343]:
nxt_1=driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]/details/div/ul[2]/li[3]/a")
nxt_1.click()

In [344]:
title_1=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")

In [345]:
title=[]
for i in title_1:
    title.append(i.text)

In [347]:
descrip_1=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")

In [348]:
descrip=[]
for i in descrip_1:
    descrip.append(i.text)

In [350]:
lang_1=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")

In [351]:
lang=[]

if len(lang_1)==1:
    for i in lang_1:
        lang.append(i.text)
else:
    lang.append('-')

In [361]:
hrefs_1=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")

In [362]:
href=[]
for i in hrefs_1:
    a=i.get_attribute("href")
    href.append(a)

In [363]:
href

['https://github.com/muguruzawang/jd_maotai_seckill',
 'https://github.com/kuchin/awesome-cto',
 'https://github.com/coding-horror/basic-computer-games',
 'https://github.com/NationalSecurityAgency/ghidra',
 'https://github.com/stellar/go',
 'https://github.com/vinceliuice/Vimix-cursors',
 'https://github.com/DroidKaigi/conference-app-2021',
 'https://github.com/shirou/gopsutil',
 'https://github.com/google/googletest',
 'https://github.com/adjust/ios_sdk',
 'https://github.com/argoproj/argo-workflows',
 'https://github.com/demisto/content',
 'https://github.com/ReactiveX/RxSwift',
 'https://github.com/flow-typed/flow-typed',
 'https://github.com/pytorch/ignite',
 'https://github.com/vinceliuice/Tela-circle-icon-theme',
 'https://github.com/firebase/firebase-ios-sdk',
 'https://github.com/fireice-uk/xmr-stak',
 'https://github.com/alievk/avatarify',
 'https://github.com/aws/aws-sdk-go',
 'https://github.com/influxdata/influxdb',
 'https://github.com/DATA-DOG/go-sqlmock',
 'https://github.com/mongodb/mongo-go-driver',
 'https://github.com/WenchaoD/FSCalendar',
 'https://github.com/flyerhzm/bullet']

In [364]:
len(href)

25

In [384]:
contri=[]
for i in href:
    driver.get(i)
    
    time.sleep(3)
    
    contri_1=driver.find_elements_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[5]/div/h2/a/span")
    
    if len(contri_1)==0:
        contri_2=driver.find_elements_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[4]/div/h2/a/span")
        
        if len(contri_2)==1:
            for k in contri_2:
                contri.append(k.text)
        else:
            contri.append('-')
             
    else:
        for j in contri_1:
            contri.append(j.text)

In [407]:
star=[]
for i in href:
    driver.get(i)
    
    time.sleep(3)

    star_1=driver.find_elements_by_xpath("//a[@class='social-count js-social-count']")
    
    if len(star_1)==0:
        star.append('-')
        
    else:
        for j in star_1:
            star.append(j.text)

In [408]:
print(len(title),len(descrip),len(lang),len(href),len(contri),len(star))

25 25 25 25 25 25

In [409]:
table=pd.DataFrame({})
table['Repository Title']=title[:]
table['Repository Description']=descrip[:]
table['Language Used']=lang[:]
table['Contributors count)']=contri[:]
table['Stars']=star[:]
table

,Repository Title,Repository Description,Language Used,Contributors count),Stars
0,muguruzawang / jd_maotai_seckill,优化版本的京东茅台抢购神器,Python,6,431
1,kuchin / awesome-cto,A curated and opinionated list of resources fo...,-,4,5.5k
2,coding-horror / basic-computer-games,"An updated version of the classic ""Basic Compu...",VBA,54,1.3k
3,NationalSecurityAgency / ghidra,Ghidra is a software reverse engineering (SRE)...,Java,129,25.4k
4,stellar / go,Stellar's public monorepo of go code,Go,91,968
5,vinceliuice / Vimix-cursors,Vimix-cursors for linux desktop,Shell,1,168
6,DroidKaigi / conference-app-2021,The Official App for DroidKaigi 2021,Kotlin,49,269
7,shirou / gopsutil,psutil for golang,Go,182,6k
8,google / googletest,Googletest - Google Testing and Mocking Framework,C++,316,21k
9,adjust / ios_sdk,This is the iOS SDK of,Objective-C,49,403
10,argoproj / argo-workflows,Workflow engine for Kubernetes,Go,350,7.8k
11,demisto / content,Demisto is now Cortex XSOAR. Automate and orch...,Python,297,580
12,ReactiveX / RxSwift,Reactive Programming in Swift,Swift,306,19.9k
13,flow-typed / flow-typed,A central repository for Flow library definitions,JavaScript,912,3.8k
14,pytorch / ignite,High-level library to help with training and e...,Python,131,3.4k
15,vinceliuice / Tela-circle-icon-theme,Tela-circle-icon-theme,Shell,1,103
16,firebase / firebase-ios-sdk,Firebase iOS SDK,Objective-C,138,2.5k
17,fireice-uk / xmr-stak,Free Monero RandomX Miner and unified CryptoNi...,C++,96,3.6k
18,alievk / avatarify,"Avatars for Zoom, Skype and other video-confer...",Python,19,12.2k
19,aws / aws-sdk-go,AWS SDK for the Go programming language.,Go,248,6.6k
20,influxdata / influxdb,"Scalable datastore for metrics, events, and re...",Go,410,20.8k
21,DATA-DOG / go-sqlmock,Sql mock driver for golang to test database in...,Go,29,3.3k
22,mongodb / mongo-go-driver,The Go driver for MongoDB,Go,87,5.5k
23,WenchaoD / FSCalendar,"A fully customizable iOS calendar library, com...",Objective-C,17,9.4k
24,flyerhzm / bullet,help to kill N+1 queries and unused eager loading,Ruby,132,6.2k

# Q6

In [1]:
import  requests
from  bs4 import BeautifulSoup

import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

In [2]:
driver = webdriver.Chrome("C:/Users/swana/Desktop/chromedriver.exe")

In [3]:
driver.get('https://www.billboard.com/')

In [4]:
link_hot = driver.find_element_by_xpath("//html/body/div[2]/main/div[2]/div/div/div[2]/div[2]/a")
link_hot.click()

In [5]:
sng_nam=[]
art_nam=[]
lw_rnk=[]
pk_rnk=[]
wk_brd=[]

In [6]:
s_nam=driver.find_elements_by_xpath("//html/body/main/div/div/div[7]/div/ol/li/button/span[2]/span[1]")

a_nam=driver.find_elements_by_xpath("//html/body/main/div/div/div[7]/div/ol/li/button/span[2]/span[2]")

lwrn=driver.find_elements_by_xpath("//html/body/main/div/div/div[7]/div/ol/li/button/div/div[2]")

pkrn=driver.find_elements_by_xpath("//div[@id='charts']/div/div[7]/div/ol/li/button/div/div[3]")

wkbr=driver.find_elements_by_xpath("//div[@id='charts']/div/div[7]/div/ol/li/button/div/div[4]")

In [7]:
for i in s_nam:
    sng_nam.append(i.text)
    
for i in a_nam:
    art_nam.append(i.text)
    
for i in lwrn:
    lw_rnk.append(i.text)
    
for i in pkrn:
    pk_rnk.append(i.text)
    
for i in wkbr:
    wk_brd.append(i.text)

In [10]:
frank_6=list(range(1,101))

In [11]:
print(len(frank_6),len(sng_nam),len(art_nam),len(lw_rnk),len(pk_rnk),len(wk_brd))

100 100 100 100 100 100

In [12]:
table=pd.DataFrame({})
table['Rank']=frank_6[:]
table['Song Name']=sng_nam[:]
table['Artist Types']=art_nam[:]
table['Last Week Rank']=lw_rnk[:]
table['Peak Rank']=pk_rnk[:]
table['Weeks on Board']=wk_brd[:]
table

,Rank,Song Name,Artist Types,Last Week Rank,Peak Rank,Weeks on Board
0,1,Drivers License,Olivia Rodrigo,1,1,7
1,2,Up,Cardi B,5,2,3
2,3,Go Crazy,Chris Brown & Young Thug,8,3,42
3,4,34+35,Ariana Grande,2,17,11
4,5,Blinding Lights,The Weeknd,1,64,25
...,...,...,...,...,...,...
95,96,The Business,Tiesto,-,96,1
96,97,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,-,97,3
97,98,Monster,Shawn Mendes & Justin Bieber,8,14,1
98,99,Track Star,Mooski,-,99,1
99,100,Like I Want You,Giveon,95,2,1

# Q7

In [13]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

In [14]:
driver = webdriver.Chrome("C:/Users/swana/Desktop/chromedriver.exe")

In [15]:
driver.get('https://www.naukri.com/')

In [16]:
window_before = driver.window_handles[0]

In [17]:
window_before_title = driver.title
print(window_before_title)

Jobs - Recruitment - Job Search - Employment -Job Vacancies - Naukri.com

In [18]:
link_recru = driver.find_element_by_xpath("//html/body/div[1]/div[1]/div/ul[1]/li[2]/a")
link_recru.click()

In [23]:
 driver.switch_to.window(window_after)

In [21]:
window_after = driver.window_handles[1]

In [22]:
window_after_title = driver.title
print(window_after_title)

Jobs - Recruitment - Job Search - Employment -Job Vacancies - Naukri.com

In [24]:
recru = driver.find_element_by_xpath("//html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
recru.send_keys("Data Science")

In [25]:
search_btn = driver.find_element_by_id('qsbFormBtn')
search_btn.click()

In [26]:
Name_3=[]
desig=[]
comp_name=[]
skills_r=[]
Locat=[]

In [27]:
Name_tags=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
Name_tags[0:50]

desi_tags=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
desi_tags[0:50]

comp_tags=driver.find_elements_by_xpath("//html/body/div[3]/div/div[2]/div/div[2]/div/div/div[1]/div[1]/p/a[2]")
comp_tags[0:50]

skill_tags=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
skill_tags[0:50]

loc_tags=driver.find_elements_by_xpath("//small[@class='ellipsis']")
loc_tags[:]

[<selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="1348276e-109b-472b-818f-c54d02361306")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="9bde4fae-1f73-4ab3-9549-1ec9e760caae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="d974af47-d3b7-41ce-a1e6-d62077fa9441")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="50292cfb-c50b-4f88-99ff-6533bbd2a702")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="55aaec71-3624-41ae-89e2-cad905b69b84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="8d33f64e-bf4e-4861-a6b5-0da4d68d0029")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="e0d09e81-d826-4023-a776-037cc976ed91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="2a4b6b1e-efac-400b-a7db-f937ed612964")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="af1618ab-eb58-4891-95b7-b3880bdf5889")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="58305e2f-5562-4a9a-afa9-faaea8e03b2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="c47c775b-318c-45ab-b47b-f3a9a19fa147")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="53d0f61d-01b4-41d9-b6ce-e5aae265ccd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="e2516b8a-1ed8-42e4-9409-044d14ec5f04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="da07fe37-978e-4c90-85ad-dd79c99be68c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="b7b45d84-a7e8-4a7f-8b36-c26326e2c832")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="93eff018-be6e-4e28-a00c-0deceeb474f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="a96d1d31-26ad-4180-8beb-75748ed554f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="b74c63b5-b075-474d-aea5-a936df440211")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="dce2abe7-9018-46ad-9963-1117e09a5616")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="4b156454-0799-493e-89a3-822b31263cdf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="f8e76c75-ba17-49a8-90b3-a3c78e3bdce9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="e1a0f214-3392-4dc3-b3e6-4ea30f225c4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="7426b6b9-9bf5-407f-a406-ee9489c8f5b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="72d26751-d2f1-42cb-9a04-5969243e7ec6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="88314cf4-90be-43b7-9ae4-4c1cf23167c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="8b47aa7e-7497-4001-a1e7-3ea2f3416ddc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="cfc4f23b-eeb5-43d4-8e4f-12827826bb69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="0107bc0b-49d9-426e-a274-09b5034835b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="a48957ed-e8e5-4752-9581-32d273c67d53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="76a67c9b-3ed6-4cc5-ba88-48e1b2857270")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="6db07f1c-c4f2-4662-9b96-dc701fd332bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="6d77b3d2-2979-46a6-8611-41e5a4be8c2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="5bc1215e-5630-4672-b8ca-19e7a28a99d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="6c5e96d4-60ec-4db9-bbb7-6d566287a341")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="d2bda904-4940-4a28-84d2-e6284a9a1960")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="e0a16d05-936b-4854-926b-fb1545a238fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="712087de-6c67-4ea1-8a60-931eb86f12ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="a2ccf1f7-174e-401b-b264-858f8eb1fbc5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="53ee814a-56f3-4fde-89d4-3a09df35f4f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="aaa5242e-9aef-44e2-bb3e-52c0a38f95ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="baef47de-1fe4-4a0b-bd92-bfcf3857e64f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="140dcbfb-0629-45e2-b073-2db80c1dbb07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="a2a82af5-166d-41c9-8acb-52c00096a8ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="6ae383a0-62b1-4a34-8222-6e279bcbce45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="d515e6cf-ef5b-4cb4-97c1-40496d4d5102")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="2be89b5f-d48a-48c2-b49f-e222845f2a10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="1fb190b4-f878-48cb-b7fd-b457a3e00b34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7e7fd906317e09a05c71ddfaa84dd753", element="f7d78bab-ac9d-4cac-988a-67a28e199822")>]

In [28]:
for i in Name_tags:
    name_2=i.text
    Name_3.append(name_2)
Name_3[:]

['Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP',
 'subhas patel',
 'Jitendra Singh',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Manisha Yadav',
 'Kapil Devang',
 'Riya Rajesh',
 'Mahesh Babu Channa',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Azahar Shaikh',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Dhruv Dev Dubey',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Jayanth N',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Shailja Mishra',
 'Sunny Sharma',
 'Sagar Lama']

In [29]:
for i in desi_tags:
    des_2=i.text
    desig.append(des_2)
desig[:]

['HR Manager',
 'Company Recruiter',
 'Recruitment Professional',
 'Company Recruiter',
 'Company HR',
 'Founder CEO',
 'Manager- Talent Acquisition',
 'Recruitment Lead Consultant',
 'Programme Manager',
 'HR Administrator',
 'Director',
 'Human Resource',
 'Executive Hiring',
 'Company HR',
 'Company HR',
 'HR Executive',
 'HR Manager',
 'Manager Talent Acquisition',
 'HR Team Lead',
 'HR Head',
 'HR MANAGER',
 'HR Recruiter',
 'Company Recruiter',
 'HR Recruiter',
 'Manager Human Resources',
 'Company Recruitment Head',
 'Lead Talent acquisition',
 'Proprietor',
 'CEO',
 'Founder CEO',
 'Project Manager',
 'Head',
 'Consultant',
 'senior technology instructor',
 'HR Recruiter/HR Excutive',
 'Manager, Technical Recruiting',
 'Technical Recruiter',
 'Erp Implementer',
 'Head Analytics',
 'Chief Technical Officer',
 'Sr Product Manager',
 'Director Global Delivery',
 'Co Founder',
 'HR Manager',
 'Architect',
 'Managing Partner',
 'Recruitment Consultant',
 'HR Manager',
 'Managing Director - HR',
 'Company HR Manager']

In [30]:
for i in comp_tags:
    com_2=i.text
    comp_name.append(com_2)
comp_name[:]

['Data Science Network',
 'Shore Infotech India Pvt. Ltd',
 'XenonStack',
 'Enerlytics Software Solutions Pvt Ltd',
 'MARSIAN Technologies LLP',
 'LibraryXProject',
 'Compunnel Technology India Pvt. Ltd',
 'Apidel Technologies Division of Transpower',
 'IFMR',
 'Techvantage Systems Pvt Ltd',
 'Weupskill- Live Wire India',
 'CBL Data Science Private Limited',
 'Innominds Software',
 'MoneyTap',
 'QuantMagnum Technologies Pvt. Ltd.',
 'Easi Tax',
 'BISP Solutions',
 'Novelworx Digital Solutions',
 'SocialPrachar.com',
 'AXESTRACK SOFTWARE SOLUTIONS PRIVATE...',
 'FirstTech Consaltants Pvt.Ltd',
 'Affine Analytics',
 'NEAL ANALYTICS SERVICES PVT LTD',
 'Compumatrice Multimedia Pvt Ltd',
 'Exela Technologies',
 'Confidential',
 'Autumn Leaf Consulting Services Private...',
 'trainin',
 'Nanoprecise Sci Corp',
 'R.S Consultancy &amp; Services',
 'Dollarbird Information Services Pvt, Ltd',
 'Trisect',
 'ASCO consulting',
 'NY INST',
 '3D India Staffing Research &amp; Consulting...',
 'O.C. Tanner',
 'Demand Matrix',
 'MADHUSUDHAN SRIDHAR',
 'Suntech Global',
 'Strategic Consulting Lab',
 'Impel Labs Pvt. Ltd.',
 'MRP Advisers',
 'Saras Solutions India Pvt Ltd',
 'WildJasmine',
 'LNT Private Limited',
 'Granular.ai',
 'JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED',
 'Certybox Pvt.Ltd.',
 'Western Service Providers',
 'AdView']

In [31]:
for i in skill_tags:
    ski_2=i.text
    skills_r.append(ski_2)
skills_r[:]

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Web Designing, html5, Angular.js, seo, hadoop, Cloud Computing, python, Iphone Development, java, Machine Learning, aws, analytics, linux, puppet',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics',
 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL',
 'Python, Data Science, .Net, Java, Big Data, Data Analytics, Business Intelligence, Msbi, Aws, Microsoft Azure, Devops',
 'Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big',
 'Data Science',
 'Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End',
 'Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil',
 'Software Development, It Sales, Account Management, Data Analysis, Customer Service, Sr, Software Engineering, Mvc, Ajax, Asp.net, Html, C#, Javascript',
 'Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep',
 'Business Intelligence, Data Warehousing, Data Science, Business Analytics, Customer Support, Business Reporting, Bi',
 'Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human',
 'Telecalling, Client Interaction, Marketing, Research, Web Development, Social Media Marketing, Data Entry Operation, Excel, Ms Office, Invoicing',
 'Big Data, Hadoop, Data Analytics, Data Science',
 'Data Science',
 'Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager',
 'Corporate Sales, Software Development, Software Sales, Marketing, Creative Designing, Corporate Planning, Senior Management, Crm, Client Relationship',
 'Data Analytics, Data Science, Machine Learning, Deep Learning, Nlp, Data Mining, Python, R, Database Administration, Text Mining',
 'Data Science, Machine Learning, Python, R, Deep Learning, Big Data, Hadoop',
 'Data Science, Artificial Intelligence, Machine Learning, Data Analytics',
 'Big Data, Data Science, Artificial Intelligence, Hadoop, Ui Development, Php, Freelancing, .Net, Software Testing, Sap, Leadership Hiring',
 'Java, Net, Angularjs, Hr, Infrastructure, Management, Project Management, Business Analysis, Data Science, Information Technology, Technology',
 'Server Administartion, Verilog, Vhdl, Digital Marketing, Market Research, Property Research, Legal, It And Non It Recruitment, Logistics, Supply Chain, Bfsi',
 'Software Architecture, Vp Engineering, Product Management, analytics, Data Science, Node.js, Principal Engineer, Big Data, python, angularjs, React.js',
 'Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data',
 'Signal Processing, Machine Learning, Neural Networks, Data Science, Predictive Analytics, Time Series Analysis, Data Visualization, Technical Leadership, Data',
 'Web Technologies, Project Management, Software Architecture, Data Science, Object Oriented Programming, Computer Science, Electrical Engineering, Architecture',
 'Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience',
 'Java, Python, Angularjs, Software Testing, Machine Learning, Data Science, Javascript, Django, React.js, Node.js, Augmented Reality, Virtual Reality, Advanced',
 'Machine Learning, Artificial Intelligence, Data Science, Software Engineering, Software Development, Graduate Engineer Trainee, Fresher, Data Analytics, Java',
 'C, C++, Artificial Intelligence, Python, Php, Web Development, Matlab, Data Science, Augmented Reality, C C++',
 'Relationship Management, Retail Sales, Private Banking, Mutual Funds, NISM, Equity, Finance, Financial Products, Financial Services, Verbal, Written',
 'Data Science, Software Engineering',
 'Data Science, Big Data Analytics, Digital Marketing, Content Writing, Ui Development, Database Development, Qa Automation, Python, Project Management',
 'Data Science, Recruitment, Salary',
 'B.Tech, Tableau, Statistics, R, Analytics, Time Series, Data Science, Business Solutions, SQL, Technical Skills, SSAS, SQL Server, Analysis Services, Qlikview',
 'Software Development, Business Intelligence, Big Data Analytics, Database Administration, Data Science, Microsoft Azure, Spark, Cassandra, Object Oriented',
 'Data Science, Node.js, Angularjs',
 'Data Science, Media Marketing, Resource Planning, Managed Services, Display Advertising, Machine Learning, Python, Etl, Sql',
 'Data Analysis, Learning, Data Science, Computer Science, Communication Skills',
 'Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata',
 'Software Development, Core Java, Unit Testing, Customer Experience, Problem Solving, Communication Skills, Mysql, Data Science, Sales Management, Analytics',
 'Machine Learning, Data Science, Product Management, New Product, Data Analysis, Computer Vision, Deep Learning, Python, Remote Sensing',
 'Data Science, Machine Learning, Big Data Analytics, Spark, Python, R, Networking, Network Engineering, Placement, Training, Sql, Marketing, Mainframes, All',
 'consulting, Education Counseling, Educational Sales, Institutional Sales, pmp, Data Science, Business Development, Revenue Generation, Sales Achievement, new',
 'Software Professionals, Engineering, Technical Management, Financial Management, Human Resource Management, Banking, Google Adwords, Business Analysis, It',
 'Full Stack Developers, Product Manager, Data Science Engineer, Publishers Sales Manager']

In [32]:
for i in loc_tags:
    loc_2=i.text
    Locat.append(loc_2)
Locat[:]

['Delhi',
 'Hyderabad / Secunderabad',
 'Chandigarh',
 'Ahmedabad',
 'Pune',
 'UK - (london)',
 'Delhi',
 'Vadodara / Baroda',
 'Chennai',
 'Trivandrum',
 'Indore',
 'Bengaluru / Bangalore',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Navi Mumbai',
 'Bhopal',
 'Cochin',
 'Hyderabad / Secunderabad',
 'Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Delhi',
 'Mysoru / Mysore',
 'Noida',
 'New Delhi',
 'Chennai',
 'Aligarh',
 'Salt Lake City',
 'Pune',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Indore',
 'Bengaluru / Bangalore',
 'MYSORE',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad / Secunderabad',
 'Noida',
 'Mumbai',
 'Bengaluru / Bangalore']

In [33]:
fsrnum=list(range(1,51))

In [37]:
print(len(fsrnum),len(Name_3),len(desig),len(comp_name),len(skills_r),len(Locat))

50 50 50 50 50 50

In [38]:
table=pd.DataFrame({})
table['Sr. Number']=fsrnum[:]
table['Name']=Name_3[:]
table['Designation']=desig[:]
table['Company']=comp_name[:]
table['Skills they hire for']=skills_r[:]
table['Location']=Locat[:]
table

,Sr. Number,Name,Designation,Company,Skills they hire for,Location
0,1,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,2,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,3,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,4,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,5,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,6,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,7,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
7,8,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,9,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
9,10,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,11,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
11,12,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,13,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,14,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,15,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,17,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,19,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
19,20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,23,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
23,24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Mumbai
24,25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,26,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Pune
26,27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Bengaluru / Bangalore
29,30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,32,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
32,33,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
33,34,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
34,35,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Pune
35,36,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Aligarh
36,37,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Salt Lake City
37,38,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Pune
38,39,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Bengaluru / Bangalore
39,40,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Mumbai
40,41,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Indore
41,42,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Bengaluru / Bangalore
42,43,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",MYSORE
43,44,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Hyderabad / Secunderabad
44,45,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Bengaluru / Bangalore
45,46,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Mumbai
46,47,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
47,48,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
48,49,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai
49,50,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers, Product Manager, Data S...",Bengaluru / Bangalore

# Q8

In [39]:
import  requests
from  bs4 import BeautifulSoup

import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

In [40]:
Name=[]
Author_Name=[]
Volume_Sold=[]
Publisher=[]
Genre=[]

In [41]:
driver = webdriver.Chrome("C:/Users/swana/Desktop/chromedriver.exe")

In [42]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [43]:
name=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
auth=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
vol=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
pub=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
gen=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")

In [44]:
for i in name:
    Name.append(i.text)
for i in auth:
    Author_Name.append(i.text)
for i in vol:
    Volume_Sold.append(i.text)
for i in pub:
    Publisher.append(i.text)
for i in gen:
    Genre.append(i.text)

In [45]:
frank=list(range(1,101))

In [46]:
print(len(Name),len(Author_Name),len(Volume_Sold),len(Publisher),len(Genre),len(frank))

100 100 100 100 100 100

In [47]:
table=pd.DataFrame({})
table['Rank']=frank[:]
table['Book Name']=Name[:]
table['Author Name']=Author_Name[:]
table['Volumes Sold']=Volume_Sold[:]
table['Publisher']=Publisher[:]
table['Genre']=Genre[:]
table

,Rank,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q9

In [48]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

In [49]:
driver = webdriver.Chrome("C:/Users/swana/Desktop/chromedriver.exe")

In [50]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [51]:
Nam_ser=[]
yr_span=[]
gen_sr=[]
rntm=[]
rat=[]
vots=[]

In [53]:
nam=driver.find_elements_by_xpath("//html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/a")

yrsp=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/span[2]")

gensr=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[5]")

rntm_sr=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[3]")

rat_sr=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]")

vot_sr=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[4]/span[2]")

In [54]:
for i in nam:
    Nam_ser.append(i.text)
    
for i in yrsp:
    yr_span.append(i.text)
    
for i in gensr:
    gen_sr.append(i.text)
    
for i in rntm_sr:
    rntm.append(i.text)
    
for i in rat_sr:
    rat.append(i.text)
    
for i in vot_sr:
    vots.append(i.text)

In [55]:
frank_9=list(range(1,101))

In [56]:
print(len(frank_9),len(Nam_ser),len(yr_span),len(gen_sr),len(rntm),len(rat),len(vots))

100 100 100 100 100 100 100

In [57]:
table=pd.DataFrame({})
table['Rank']=frank_9[:]
table['Name']=Nam_ser[:]
table['Year Span']=yr_span[:]
table['Genre']=gen_sr[:]
table['Runtime']=rntm[:]
table['Rating']=rat[:]
table['Votes']=vots[:]
table

,Rank,Name,Year Span,Genre,Runtime,Rating,Votes
0,1,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,778,811"
1,2,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"829,335"
2,3,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"857,034"
3,4,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"257,274"
4,5,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,828"
...,...,...,...,...,...,...,...
95,96,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,775"
96,97,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,105"
97,98,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"162,320"
98,99,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,209"
99,100,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"183,978"

# Q10

In [54]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

In [55]:
driver = webdriver.Chrome("C:/Users/swana/Desktop/chromedriver.exe")

In [56]:
driver.get('https://archive.ics.uci.edu/ml/index.php')

In [57]:
link = driver.find_element_by_partial_link_text("View ALL Data Sets")
link.click()

In [58]:
Name_d=[]
dtype=[]
d_task=[]
att_type=[]
inst_no=[]
att_no=[]
dyear=[]

In [59]:
named_ds=driver.find_elements_by_xpath("//html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
dtype_ds=driver.find_elements_by_xpath("//html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")
d_task_ds=driver.find_elements_by_xpath("//html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")
att_type_ds=driver.find_elements_by_xpath("//html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")
inst_no_ds=driver.find_elements_by_xpath("//html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")
att_no_ds=driver.find_elements_by_xpath("//html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")
dyear_ds=driver.find_elements_by_xpath("//html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")

In [60]:
for i in named_ds:
    Name_d.append(i.text)
    
for i in dtype_ds:
    dtype.append(i.text)
    
for i in d_task_ds:
    d_task.append(i.text)
    
for i in att_type_ds:
    att_type.append(i.text)
    
for i in inst_no_ds:
    inst_no.append(i.text)
    
for i in att_no_ds:
    att_no.append(i.text)
    
for i in dyear_ds:
    dyear.append(i.text)

In [61]:
fsrno=list(range(1,586))

In [66]:
print(len(fsrno),len(Name_d),len(dtype),len(d_task),len(att_type),len(inst_no),len(att_no),len(dyear))

586 586 586 586 586 586 586 586

In [63]:
table=pd.DataFrame({})
table['Serial No.']=fsrno[:]
table['Name']=Name_d[:]
table['Data Types']=dtype[1:]
table['Default Task']=d_task[1:]
table['Attribute types']=att_type[1:]
table['Number of Instances']=inst_no[1:]
table['Number of Attributes']=att_no[1:]
table['Year']=dyear[1:]
table

,Serial No.,Name,Data Types,Default Task,Attribute types,Number of Instances,Number of Attributes,Year
0,1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,5,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...,...
580,581,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,,26737,4,2020
581,582,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
582,583,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
583,584,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,585,Gait Classification,Multivariate,Classification,Real,48,321,2020